:root {
    background: var(--colorfondo);
    --colornegro: #22262A;
    --colorfondo: #ffffff;
    --colorlinks: #19507F;
    --colorheader: #F6F7F8;
}

.hero {
    background-image: url('../images/banner.png');
    block-size: 340px;
    background-repeat: no-repeat;
    margin-block-start: 154px;
}

/*h1 {
    margin-block-start: -570px;
}

.pokedex {
    margin-block-start: 570px;
}*/

body {
    color: var(--colornegro);
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

header {
    background: var(--colorheader);
    font-weight: 600;
    margin-block-start: 26px;
    width: 270px;
    height: 325.12px;
}

nav summary{
    padding: 18px 154px 283.1px 20px;
}

nav ul {
    padding: 56px 21px 16.1px 21px;
    display: block;
}