:root {
    background: var(--colorfondo);
    --colornegro: #22262A;
    --colorfondo: #ffffff;
    --colorlinks: #19507F;
    --colorheader: #F6F7F8;
    font-size: 18px;
}

.body {
    color: var(--colornegro);
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 1170px;
    margin: auto;
}

.header__title{
    font-size: 3rem;
    text-align: center;
}
.hero {
    background-image: url('../images/banner.png');
    block-size: 340px;
    background-repeat: no-repeat;
    inset-block-start: 154px;
    inset-inline-start: 375px;
    inset-inline-end: 375px;
}

.main {
    display: grid;
    grid-template-columns: 2fr 6fr;
}

.aside {
    background: var(--colorheader);
    font-weight: 600;
    margin-block-start: 26px;
    width: 270px;
    height: 325.12px;
}

.nav-list {
    font-size: 0.8rem;
}

.aside-nav .nav-list__item {
    color: var(--colorlinks);
    list-style: none;
}

.aside-nav .nav-list__item::before {
    content: " ● ";
    color: var(--colornegro);
    font-weight: bold;
}

.pokedex-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.pokedex-item__title {
    font-size: 1.4rem;
}

.pokedex-item__p {
    font-family: 'Lato', sans-serif;
}

.pokedex-item__detail {
    display: flex;
    justify-content: flex-start;
    font-size: 0.8rem;
}

.pokedex-item__detail .title {
    font-weight: bold;
}

.pokedex-item__detail .info:first-of-type {
    margin: 0px 47px 0px 20px;
}

.pokedex-item__links {
    margin: 26px 0px 29.5px 0px;
    font-size: 0.8rem;
}

.pokedex-item__links .title{
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.pokedex-item__links .info{
    display: flex;
    margin: 10.5px 0px 30.2px 0px;
}

.footer {
    text-align: center;
}