:root {
    background: var(--colorfondo);
    --colornegro: #22262A;
    --colorfondo: #ffffff;
    --colorlinks: #19507F;
    --colorheader: #F6F7F8;
}

body {
    font-size: 18px;
    color: var(--colornegro);
    font-family: 'Montserrat', sans-serif;
}

aside {
    background: var(--colorheader);
    font-weight: 600;
    margin-block-start: 26px;
    width: 270px;
    height: 325.12px;
}

nav summary{
    /*padding: 18px 154px 14px 20px;*/
    font-size: 18px;
}

nav ul li{
    /*padding: 0px 21px 16.1px 21px;*/
    color: var(--colorlinks);
    list-style: none;
}

li::before{
    content: " ● ";
    color: var(--colornegro);
    font-weight: bold;
}

p {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    max-width: 1170px;
    margin: auto;
}

.header__title{
    text-align: center;
}
.hero {
    background-image: url('../images/banner.png');
    block-size: 340px;
    background-repeat: no-repeat;
    inset-block-start: 154px;
    inset-inline-start: 375px;
    inset-inline-end: 375px;
}

.main {
    display: grid;
    grid-template-columns: 2fr 6fr;
}

.pokedex-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.pokedex-item__detail {
    display: flex;
    justify-content: flex-start;
}

.pokedex-item__detail .title {
    font-weight: bold;
}

.pokedex-item__detail .info:first-of-type {
    margin: 0px 47px 0px 20px;
}

.pokedex-item__links {
    margin: 26px 0px 29.5px 0px;
}

.pokedex-item__links .title{
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.pokedex-item__links .info{
    display: flex;
    margin: 10.5px 0px 30.2px 0px;
}

.footer {
    text-align: center;
}